################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TSP/bin/Debug
/TSP/bin
/TSP/obj/Debug
/TSP/obj
/TSP/publish
/TSP.v12.suo
*.user
